<?xml version="1.0"?>
<config>
    <modules>
        <Titans_Blog>
            <version>1.0.0.0</version>
        </Titans_Blog>
    </modules>
    <global>
        <models>
            <titans_blog>
                <class>Titans_Blog_Model</class>
                <resourceModel>titans_blog_resource</resourceModel>
            </titans_blog>
            <titans_blog_resource>
                <class>Titans_Blog_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>titans_blog_post_entity</table>
                    </post_entity>
                    <post_entity_datetime>
                        <table>titans_blog_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>titans_blog_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>titans_blog_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>titans_blog_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>titans_blog_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>titans_blog_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </titans_blog_resource>
        </models>
        <helpers>
            <titans_blog>
                <class>Titans_Blog_Helper</class>
            </titans_blog>
        </helpers>
        <blocks>
            <titans_blog>
                <class>Titans_Blog_Block</class>
            </titans_blog>
        </blocks>
        <resources>
            <titans_blog_setup>
                <setup>
                    <module>Titans_Blog</module>
                    <class>Titans_Blog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </titans_blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <titans_blog>
                <use>standard</use>
                <args>
                    <module>Titans_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </titans_blog>
        </routers>
        <layout>
            <updates>
                <blog module="Titans_Blog">
                    <file>titans_blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Titans_Blog>
                    <files>
                        <default>Titans_Blog.csv</default>
                    </files>
                </Titans_Blog>
            </modules>
        </translate>
    </frontend>
    <default>
        <blog>
            <blog>
                <enabled>1</enabled>
                <title>Blog</title>
                <footerEnabled>1</footerEnabled>
                <layout>page/2columns-right.phtml</layout>
                <blogcrumbs>1</blogcrumbs>
                <useshortcontent>1</useshortcontent>
                <dateformat>2</dateformat>
            </blog>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </blog>
    </default>
</config>